@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --f-logo: "Teko", sans-serif;
    --f-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 16);
}

/* MAIN */

main {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

/* NAVBAR */

nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 280px;
    height: 100%;
    border-right: 1px solid rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NAVBAR TOP */

.navbar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOGO */

.logo {
    padding: 20px;
}

.logo > a {
    color: white;
    font-family: var(--f-inter);
    font-size: 2rem;
    font-weight: 200;
    text-decoration: none;
}

/* DIVIDER */

.navbar-divider {
    border: 0;
    width: 85%;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* PAGES */

.navbar-pages {
    padding: 0 20px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.page-link {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    column-gap: 13px;
    text-decoration: none;
    border-radius: 0.3rem;
    font-family: var(--f-inter);
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0);
}

.page-link-svg {
    color: rgb(150, 150, 150);
}

.page-link-text {
    color: rgb(150, 150, 150);
}

.active-page {
    background-color: rgb(25,25,25);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.03);
    overflow: hidden;
}

.active-page > svg {
    color: white;
}

.active-page > span {
    color: white;
}

.active-page::before {
    content: '';
    border-top: 1.4vw solid transparent;
    border-bottom: 1.4vw solid transparent;
    border-left: 0.21vh solid rgb(255, 89, 0);
    border-right: 1vh solid transparent;
    position: absolute;
    left: -0.2px;
    border-radius: 1rem;
}

/* NAVBAR BOTTOM */

.navbar-bottom {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.navbar-bottom-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link {
    width: 40px;
    height: 40px;
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    transition: background-color 300ms;
}

.link-svg {
    --size: 20px;
    color: white;
    width: var(--size);
    height: var(--size);
}

.link:hover {
    background-color: rgb(30,30,30);
}

.navbar-divider-bottom {
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.copyright-text {
    color: white;
    text-align: center;
    font-weight: 200;
    font-family: var(--f-inter);
    font-size: 0.8rem;
}

/* EMPTY */

.empty {
    width: 280px;
}

/* CONTENT */

.content {
    font-family: var(--f-inter);
}

.pages {
    display: none;
}

.active-page-itself {
    display: flex;
}

/* GALLERY PAGE */

.gallery-page {
    flex-direction: column;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    row-gap: 10px;
}

.gallery-text > h2 {
    color: white;
    font-size: 5rem;
    font-weight: 200;
    line-height: 75px;
    font-family: var(--f-logo);
}

.gallery-text > p {
    color: white;
    font-weight: 200;
    width: 700px;
    text-align: center;
}

/* GALLERY ITSELF */

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.image-container {
    line-height: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.image {
    width: 100%;
    height: 550px;
    object-fit: cover;
    transition: scale 400ms;
}

.image-innner-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 15px;
    opacity: 0;
    transition: opacity 400ms;
}

.image-innner-info-header {
    color: white;
    line-height: 30px;
    font-weight: 300;
    transform: translateY(200px);
    transition: 600ms transform;
}

.image-innner-info-paragraph {
    color: white;
    line-height: 25px;
    font-weight: 200;
    transform: translateY(240px);
    transition: 800ms transform;
}

/* IMAGES HOVER STATES */

.image-container:hover .image {
    scale: 1.1;
}

.image-container:hover .image-innner-info {
    opacity: 1;
}

.image-innner-info:hover .image-innner-info-header,
.image-innner-info:hover .image-innner-info-paragraph {
    transform: translateY(0);
}

/* ABOUT PAGE */

.about-page {
    width: 100%;
}

.about-page-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    row-gap: 10px;
}

.about-page-text > h1 {
    color: white;
    font-size: 5rem;
    font-weight: 200;
    line-height: 75px;
    font-family: var(--f-logo);
}

.about-page-text > p {
    color: white;
    font-weight: 200;
}
