@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --f-logo: "Teko", sans-serif;
    --f-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 16);
}

/* CURSOR */

.cursor {
    width: 40px;
    height: 40px;
    background-color: rgba(45, 45, 45, 0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 100ms;
    z-index: 999;
    pointer-events: none;
    overflow: hidden;
}

.cursor > h3 {
    display: none;
    color: white;
    font-size: 1rem;
    font-family: var(--f-inter);
    font-weight: 300;
    text-transform: uppercase;
}

.cursor-over-image {
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.2rem;
    margin-left: -15px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-left: -15px;
}

/* MAIN */

main {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

/* EMPTY */

.empty {
    width: 280px;
}

/* CONTENT */

.content {
    font-family: var(--f-inter);
}

.pages {
    display: none;
}

.active-page-itself {
    display: flex;
}

/* GALLERY PAGE */

.gallery-page {
    flex-direction: column;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    row-gap: 10px;
}

.gallery-text > h2 {
    color: white;
    font-size: 5rem;
    font-weight: 200;
    line-height: 75px;
    font-family: var(--f-logo);
}

.gallery-text > p {
    color: white;
    font-weight: 200;
    width: 700px;
    text-align: center;
    line-height: 25px;
}

/* GALLERY ITSELF */

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.image-container {
    line-height: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    cursor: none;
}

.image {
    width: 100%;
    height: 550px;
    object-fit: cover;
    transition: scale 400ms;
}

.image-innner-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 15px;
    opacity: 0;
    transition: opacity 400ms;
}

.image-innner-info-header {
    color: white;
    line-height: 30px;
    font-weight: 300;
    transform: translateY(200px);
    transition: 600ms transform;
}

.image-innner-info-paragraph {
    color: white;
    line-height: 25px;
    font-weight: 200;
    transform: translateY(240px);
    transition: 800ms transform;
}

/* IMAGES HOVER STATES */

.image-container:hover .image {
    scale: 1.1;
}

.image-container:hover .image-innner-info {
    opacity: 1;
}

.image-innner-info:hover .image-innner-info-header,
.image-innner-info:hover .image-innner-info-paragraph {
    transform: translateY(0);
}

/* MORE BUTTON */

.more-button {
    display: flex;
    justify-content: center;
    padding-block: 20px 30px;
}

.more-btn-itself {
    border: 0;
    font-size: 1rem;
    color: white;
    background-color: rgb(23, 23, 23);
    padding: 10px 20px;
    border-radius: 2rem;
    text-transform: uppercase;
    font-family: var(--f-inter);
    font-weight: 200;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 300ms;
}

.more-btn-itself:hover {
    background-color: rgb(30,30,30);
}

/* ABOUT PAGE */

.about-page {
    width: 100%;
    flex-direction: column;
}

.about-page-text {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.about-page-text > h1 {
    color: white;
    font-size: 5rem;
    font-weight: 200;
    line-height: 75px;
    font-family: var(--f-logo);
}

.text-focused {
    color: white;
}

.about-me {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-me-left > p {
    color: rgb(150, 150, 150);
    line-height: 35px;
}

.about-me-right,
.about-me-left {
    padding: 0 20px;
}

.about-me-right > img {
    width: 100%;
    height: 560px;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
}

/* ZOOM IN IMAGE */

.zoom-image-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.799);
    display: none;
    justify-content: center;
    align-items: center;
}

.zoom-image {
    width: 500px;
    height: 95%;
    line-height: 0;
    overflow: hidden;
}

.zoom-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MEDIA QEURIES */

@media (max-width: 1300px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .cursor {
        display: none;
    }
}

@media (max-width: 1150px) {
    .about-me {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-bottom: 30px;
    }
    .about-me-right > img {
        height: 400px;
        object-position: 0 -120px;
    }
    .about-me-left > p {
        line-height: 30px;
    }
}

@media (max-width: 1050px) {
    main {
        padding-top: 65px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .gallery-text > p {
        width: 100%;
    }
    .image {
        height: 450px;
    }
}

@media (max-width: 600px) {
    .zoom-image {
        width: 95%;
        height: 97%;
    }
    .gallery {
        grid-template-columns: 1fr;
        padding: 0;
        padding-inline: 20px;
        padding-bottom: 20px;
    }
    .about-me-right > img {
        object-position: 0 -50px;
    }
}

@media (max-width: 430px) {
    .about-me-right > img {
        object-position: 0 -20px;
    }
}

@media (max-width: 350px) {
    .gallery {
        padding-inline: 15px;
    }
}